<div class="footer">
  <div>
    <ul class="social">
      <li class="fb"><i class="fa-brands fa-facebook"></i></li>
      <li class="insta"><i class="fa-brands fa-instagram"></i></li>
      <li class="x"><i class="fa-brands fa-twitter"></i></li>
    </ul>
  </div>
  <div class="footemail">&copy; asharfiaz04@gmail.com &trade;</div>
</div>
