<% layout('layout/boilerplate.ejs') -%>
<body>
  <div class="offset-3 col-6">
    <h3 class="hadd"><strong>Login</strong></h3>
  </div>
  <div class="offset-3 col-6">
    <form
      action="/login"
      method="post"
      class="addform needs-validation"
      novalidate
    >
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          required
          type="text"
          name="username"
          id="username"
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          required
          class="form-control"
          type="password"
          name="password"
          id="password"
        />
      </div>
      <br />
      <button class="btn btn-dark viewbtn" type="submit">Login</button>
    </form>
  </div>
</body>
